{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<h1>Welcome, {{ user.email }}</h1>
<p>This is your dashboard.</p>
{% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
{% endblock %}
